#about-container {
    padding: 100px 0;
    margin-bottom: 100px;
}

#avatar {
    width: 400px;
    border: 1px solid #a2a2a2;
    padding: 0;
    border-radius: 8px;
}

#about-card {
    background-color: var(--col-dark);
    border: 1px solid #a2a2a2;
    border-radius: 8px;
    transition: 0.2s;
    color: #dcdcdc;
}

#about-card:hover {
    border-color: var(--col-red);
    box-shadow: 0px 0px 3px var(--col-red);
}

@media screen and (max-width: 600px) {

    #about-card {
        width: 90vw!important;
        
    }
    
}