#hero-container {
    padding: 300px 0;
}

#hero-left {
    /* box-shadow: 0px 0px 150px 15px var(--col-blue); */
    background-color: var(--col-light)!important;
    color: var(--light-text);
   
}

#name {
    color: var(--col-red);
    transition: 0.1s;
}

#name:hover {
    font-size: larger;
    border-bottom: 4px solid white;
}


#hero-right {
    /* box-shadow: 50px 0px 100px 15px var(--red-text); */
    background-color: var(--col-light);
    color: var(--light-text);
    /* clip-path: inset(-1000px -1000px -1000px 0px); */
}

#hero-logo {
    width: 100%;
    margin-top: -80px;
}

#res-btn {
    border: 1px solid var(--col-red);
    background-color: transparent;
    color: var(--col-red);
    padding: 5px;
    margin-left: 7px;
    transition: 0.15s;
}

#res-btn:hover {
    border-color: white;
    background-color: white;
    color: var(--col-red);
}

#res-btn:active {
    background-color: rgb(216, 216, 216);
    border-color: rgb(216, 216, 216);
    color: white;
}

@media screen and (max-width: 600px) {
    
    #hero {
        background-color: var(--col-light);
        border: none!important;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    #hero-left {
        width: 100%;
    }

    #hero-left h3 {
        padding: 10px 0!important;
    }

    #hero-left p {
        margin-bottom: 0;
        padding: 0!important;

    }

    #hero-right {
        background-color: var(--col-light);
        width: 100%;
    }

    #hero-logo {
        margin-top: 10px;
    }

    #res-btn {
        margin-top: 20px;
    }

    #hero-container {
        padding: 100px 0;
    }
}