#contact-container {
    height: 86vh;
}

#contact-header {
    margin-top: 200px;
}

#contact-form input {
    width: 100%;
    /* margin-left: 50px; */
    border: 1px solid white;
    border-radius: 8px;
    font-size: 20px;
    padding: 5px;
    color: white;
    background-color: transparent;
    transition: 0.5s;
}

#contact-form input:focus {
    outline: var(--col-red);
    border-color: var(--col-red);
}

#contact-form input::placeholder {
    color: white;
    opacity: 1;
}

#form-submit {
    width: 100%;
    border: none;
    margin-top: 50px;
    background-color: var(--col-red);
    color: var(--light-text);
    padding: 4px 0;
    font-size: larger;
    transition: 0.3s;
}

#form-submit:hover {
    background-color: white;
    color: var(--col-red);
}

#form-submit:active {
    background-color: rgb(227, 227, 227);
    color: white;
    scale: 0.95;
}


#messageInput {
    height: 110px;
    color: var(--light-text);
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    margin-left: 8px;
    padding: 4px;
    font-size: larger;
    transition: 0.5s;
}

#messageInput:focus {
    outline: var(--col-red);
    border-color: var(--col-red);
}

#messageInput::placeholder {
    color: white;
    opacity: 1;
}

@media screen and (max-width: 600px) {
    
    #contact-form {
        width: 95%!important;
    }
}